body {
  background-color: #fafafa;
  font-family: "Nunito Sans", sans-serif;
}
/* .nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
} */

.hidden {
  display: none;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  width: 100%;
}

.container {
  height: 100%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  position: relative;
}

.nav {
  box-shadow: 3px 3px #f1f1f1;
  background-color: white;
}
.nav .container {
  display: flex;
  justify-content: space-between;
}

.nav .container .question {
  font-weight: 700;
  font-size: 1.25rem;
}

.nav .container button {
  border: none;
  background-color: white;
  font-size: 1rem;
}

/*------------------------------------------------*/

/* Search and Filter */

/* search */
.search-filter {
  margin-top: 20px;
}
.search-filter .container {
  display: flex;
  justify-content: space-between;
}

.search-filter .container .search {
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 50px;
  display: flex;
  gap: 3%;
  align-items: center;
  padding-left: 25px;
  box-shadow: 1px 1px 5px 0px #d9d9d9;
  position: relative;
}

.search-filter .container .search i {
  color: #868585;
}
.search-filter .container .search input {
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}

.search-filter .container .search input:focus {
  outline: none;
}

.search-filter .container .search .search-results {
  position: absolute;
  right: 0;
  top: 50px;
  width: 100%;
  list-style-type: none;
  z-index: 10;
  overflow-y: hidden;
}

.search-filter .container .search .search-results li {
  padding: 5px 10px;
  margin: 0px;
  width: calc(100%-20px);
  text-align: center;
  background-color: #d9d6d6;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.search-filter .container .search .search-results li:hover {
  background-color: #c4c4c4;
}

.hide {
  display: none;
}

/*-------------------------------------------*/

/* filter */

.search-filter .container .filter-box {
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 50px;
  display: flex;
  gap: 3%;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px 0px #d9d9d9;
  margin-bottom: 5px;
}
.search-filter .container .filter-box *:hover {
  cursor: pointer;
}
.search-filter .container .filter-box:hover {
  cursor: pointer;
}

.search-filter .container .search i {
  color: #868585;
}
.search-filter .container .search input {
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}

.search-filter .container .search input:focus {
  outline: none;
}
.search-filter .container {
  padding-bottom: 0px;
}
.search-filter .container .filter-lists {
  position: absolute;
  right: 8px;
  top: 100%;
  width: 150px;
}

.search-filter .container .filter-lists ul {
  display: none;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 2px;
}
.search-filter .container .filter-lists ul li {
  padding: 10px 0px;
  margin: 0px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  background-color: #d9d6d6;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  z-index: 5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-filter .container .filter-lists ul li:hover {
  background-color: #bcbbbb;
}

/*---------------------------------------------*/

/* Countries */
.country-countainer {
  margin-top: 60px;
}
.country-countainer .container {
  /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.country-countainer .container .box {
  background-color: white;
  box-shadow: 1px 1px 5px 0px #d9d9d9;
  padding-bottom: 50px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.country-countainer .container .box ul {
  width: calc(100% - 7%);
  cursor:text;
}

.country-countainer .container .box img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: fit;
  width: 100%;
  height: 150px;
}
ul.info li {
  /* display: flex;
    flex-wrap: wrap; */
  text-wrap: wrap;
  padding-bottom: 5px;
  font-weight: 300;
}

.country-countainer .container .box h3 {
  font-weight: 800;
  cursor:pointer;
}

ul.info li span {
  font-weight: 600;
}

.country-countainer .container .box > *:not(:first-child) {
  padding-left: 7%;
}

/*Dark Mode*/

.DarkModeBody {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.DarkModeElementsShadow {
  background-color: hsl(209, 23%, 22%) !important;
  color: hsl(0, 0%, 100%) !important;
  box-shadow: 2px 2px 5px 0px black !important;
}

.DarkModeElements {
  background-color: hsl(209, 23%, 22%) !important;
  color: hsl(0, 0%, 100%) !important;
}

.search-filter .container .filter-lists ul .DarkModeElements:hover {
  background-color: hsl(207, 22%, 10%) !important;
}

.search-results .DarkModeElements:hover {
  background-color: hsl(207, 22%, 10%) !important;
}

/* ------------------------------------------ */


/* --------------- country page -------------------------- */

.country-page .container .back-button {
  margin: 50px 0px;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 1px 1px 5px 0px #d9d9d9;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
.country-page .container2 {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 20px;
}
.country-page .container .image-div {
  grid-row: span 4;
  grid-column: span 2;
}
.country-page .container h2 {
  grid-column: span 2;
  font-weight: 900;
  margin: 0px;
  padding-top: 20px;
}
.country-page .container .image-div img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  max-height: 350px;
}
.country-page .container .country-info {
  grid-row: span 2;
}
#border-word {
  font-weight: 600;
}
.country-page .container .border-contries {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 20px;
  width: 100%;
}
#border-word {
  grid-column: span 3;
  min-width: 130px;
}
.country-page .container .border-contries .border-countries2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  gap: 1%;
  flex-wrap: wrap;
  width: 100%;
  /* width: fit-content; */
}
.country-page .container .border-contries .contry-border {
  padding: 5px;
  box-shadow: 1px 1px 5px 0px #d9d9d9;
  border-radius: 5px;
  text-align: center;
  transition: .3s;
  cursor: pointer;
}
.country-page .container .border-contries .border-countries2 .contry-border:hover{
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 5px 0px #d9d9d9;
  background-color: #bcbbbb;
}
.country-page .container .back-button:hover {
  box-shadow: 3px 3px 5px 0px #d9d9d9;
  background-color: #bcbbbb;
}

.country-page .container button.DarkModeElementsShadow:hover {
  box-shadow: 3px 3px 5px 0px black !important;
    background-color: hsl(200, 18%, 10%) !important;
}

.country-page .container div.DarkModeElementsShadow:hover {
  box-shadow: 3px 3px 5px 0px black !important;
    background-color: hsl(200, 18%, 10%) !important;
}

/* ----------------------------------------- */


/* Media Query */

/* Small */
@media (min-width: 768px) {
  .search-filter .container .filter-box,
  .search-filter .container .filter-lists {
    width: 15%;
  }
    /* country page */
  .country-page .container2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .country-page .container .border-contries {
    flex-direction: row;
    align-items: center;
  }
}

/* Medium */
@media (min-width: 992px) {
  .search-filter .container .filter-box,
  .search-filter .container .filter-lists {
    width: 20%;
  }
    /* country page */
  .country-page .container2 {
    display: grid;
    gap: 7%;
  }
  .country-page .container .border-contries {
    flex-direction: row;
    align-items: center;
  }
}

/* Large */
@media (min-width: 1200px) {
  .search-filter .container .filter-box,
  .search-filter .container .filter-lists {
    width: 15%;
  }

  /* country page */
  .country-page .container2 {
    display: grid;
    gap: 7%;
  }
  .country-page .container .border-contries {
    flex-direction: row;
    align-items: center;
  }

}
