body {
    background-color: #fafafa;
      font-family: "Nunito Sans", sans-serif;
}
/* .nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
} */
ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 100%;
}

.container {
    height: 100%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    position: relative;
}

.nav {
    box-shadow: 3px 3px #f1f1f1;
    background-color: white;
}
.nav .container {
    display: flex;
    justify-content: space-between;
}

.nav .container .question {
    font-weight: 700;
    font-size: 1.25rem;
}

.nav .container button {
    border: none;
    background-color: white;
    font-size: 1rem;
}

/*------------------------------------------------*/

/* Search and Filter */


    /* search */
.search-filter {
    margin-top: 20px;
}
.search-filter .container {
    display: flex;
    justify-content: space-between;
}

.search-filter .container .search {
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 50px;
    display: flex;
    gap: 3%;
    align-items: center;
    padding-left: 25px;
    box-shadow: 3px 3px  #f1f1f1;
}

.search-filter .container .search i {
    color: #868585;
    
} 
.search-filter .container .search input {
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.search-filter .container .search input:focus {
    outline: none;
}
 /*-------------------------------------------*/
    
    /* filter */

.search-filter .container .filter-box {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 50px;
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px  #f1f1f1;
}
.search-filter .container .filter-box *:hover {
    cursor: pointer;
}
.search-filter .container .filter-box:hover {
    cursor: pointer;
}

.search-filter .container .search i {
    color: #868585;
} 
.search-filter .container .search input {
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.search-filter .container .search input:focus {
    outline: none;
}    
.search-filter .container {
    padding-bottom: 0px;
}
.search-filter .container .filter-lists {
    position: absolute;
    right: 8px;
    top: 100%;
    width: 150px;
}

.search-filter .container .filter-lists  ul {    
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}
.search-filter .container .filter-lists  ul li  {
    padding: 10px 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: #d9d6d6;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.search-filter .container .filter-lists  ul li:hover  {
    
    background-color: #bcbbbb;
    height: 35px;
    width: 80%;
}




/*---------------------------------------------*/    

/* Countries */
.country-countainer {
    margin-top: 60px;
}
.country-countainer .container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit,
    minmax(250px, 1fr));
}
.country-countainer .container .box {
    background-color: white;
    box-shadow: 3px 3px #f1f1f1;
    padding-bottom: 50px;
    border-radius: 10px;
    width:100%;
    max-width: 300px;
    margin:0 auto;
    


}

.country-countainer .container .box  ul {

    width: calc(100% - 7%);
}

.country-countainer .container .box  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit:fit;
    width: 100%;
    height: 150px;
}
.country-countainer .container .box  ul li {
    /* display: flex;
    flex-wrap: wrap; */
    text-wrap: wrap;
    padding-bottom: 5px;
    font-weight: 300;
}

.country-countainer .container .box  h3 {
    font-weight: 800;
}

.country-countainer .container .box  ul li span {
    font-weight: 600;
}

.country-countainer .container .box>*:not(:first-child) {
    padding-left: 7%;
}

/*Dark Mode*/

.DarkModeBody{
    
   background-color: hsl(207, 26%, 17%);
   color: hsl(0, 0%, 100%);
}

.DarkModeElements{
    background-color: hsl(209, 23%, 22%);
    box-shadow: 3px 3px hsl(205, 25%, 17%);
    color: hsl(0, 0%, 100%);
}

/* ------------------------------------------ */
/* Media Query */

    /* Small */
@media (min-width: 768px) {
    .search-filter .container .filter-box, .search-filter .container .filter-lists {
        width: 15%;
    }
}


    /* Medium */ 
@media (min-width: 992px) {
    .search-filter .container .filter-box, .search-filter .container .filter-lists {
        width: 20%;
    }
}


    /* Large */
@media (min-width: 1200px) {
    .search-filter .container .filter-box, .search-filter .container .filter-lists {
        width: 15%;
    }
} 